$company-color-yellow: gold;
$company-color-blue: blue;
$company-color-green: green;

h1 {
    color: $company-color-yellow;
    border-bottom: 3px solid $company-color-blue;

    &:hover {
        color: $company-color-yellow;
        border-bottom: 3px solid $company-color-yellow;
    }
}

ul, ol {
    list-style-type: none;
    
    li {
        color: $company-color-green;
    }
}

