h1 {
  color: gold;
  border-bottom: 3px solid blue;
}

h1:hover {
  color: gold;
  border-bottom: 3px solid gold;
}

ul, ol {
  list-style-type: none;
}

ul li, ol li {
  color: green;
}
/*# sourceMappingURL=index.css.map */