
.container-for-strings {
    background-color: white;
    border: 1px solid steelblue;
}

.pictures {
    background-color: white;
    border: 5px solid steelblue;
    margin: 5mm;
}

.impress-section {
    background-color:wheat;
    border: yellow;
    orientation: center;
    display: block;
}

.viereck_outerLine {
    background-color: violet;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.cube {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 18px;
    width: 60px;
    height: 60px;
    background-color: white;
    box-shadow: 5px -5px 18px inset rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.circle {
    background-color: black;
    height: 12px;
    width: 12px;
    border-radius: 58%;
}

body {
    background-color: grey;
    font-family: 'Raleway', sans-serif;;
}

.box {
        background-color: white;
        padding: 5px;
        border: 1px solid black;
        flex: 1 1 0px; /* short for flex-growth, flex-shrink, flex basis */
}

/*.container {
    display: flex;
}*/

.box-big {
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    flex-grow: 2;
}

.navigation {
   display: flex;
   justify-content: space-evenly; /*fill flexbox evenly with all content*/
   align-items: center; /* center content in middle (from top to bottom), "baseline for alligning at bottom   "*/
   border: 1px solid black;
   background-color: white;
   height: 40px;
   padding-left: 0px;
   padding-right: 0px;
}

.navigation li {
   list-style-type: none;
   flex: 0 0 auto; /*auto: use only the space, the content needs: e.g. HomeTeamAnreise*/
}

.content {
    flex-basis: 0px;
    flex-grow: 1;
    flex-shrink: 1;
}